.App {
  margin: 0 auto;
  width:50vw;


  input{
    margin-left: .8rem;
    padding: .3rem ;
    font-size: 1rem;
    
    border: none;
    box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: .4);
    
    &:focus{
      outline: none;
    }
    
  }
  input[type ="text"]{
      margin-left: 2rem;
    }

    input[type ="search"]{
      margin: 0;
      margin-bottom: 1rem;
      border:1px solid transparent;
        

      &:focus{
        border-color: rgb(46, 46, 194);
      }
    }
  form{
    margin-top:1rem;

    .form-group{
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
  
      label{
        font-size:1.1rem ;
      }
      
    }
    
    button{
      margin-left:8rem;
      border: none;
      cursor: pointer;
      padding: .4rem .8rem;
      font-size: 1rem;
      outline: none;
    }

  }
 

  .screen{
    
    ol{

      li{
        align-items: center;
        line-height:1.8rem;
        font-size: 1.2rem;
        margin-bottom: .4rem;

        button{
          margin-left: .8rem;
          cursor: pointer;
        }
      }
    }
  }
  .indicator{
    width: fit-content;
    padding: .2rem .4rem;
    font-size: 1.2rem;
    // border: 2px solid green;
    transition: all .5s;
    
  }
}


