.App {
  margin: 0 auto;
  width:max-content;
  
  form{

    .form-group{
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
  
      label{
        font-size:1.1rem ;
      }
      input{
        margin-left: .5rem;
        padding: .3rem ;
        font-size: 1rem;
        border: none;
        box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: .4);
        
        &:focus{
          outline: none;
        }
      }
  
     
    }
    
    button{
      display: block;
      margin: 0 auto;
      border: none;
      cursor: pointer;
      padding: .4rem .8rem;
      font-size: 1rem;
      outline: none;
    }

  }
 

  .screen{
    
    ol{

      li{

        line-height:1.8rem;
        font-size: 1.2rem;
      }
    }
  }
}


