.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);

  .country-to-show{
    padding: .2rem .6rem;
    padding-left: 1.2rem;
    border-right: 3px solid rgba($color: #000000, $alpha: 0.4);

    input{
      padding:.5rem ;
      border: 1px solid transparent;
      box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.4);
      display: block;
      width: 50%;
      margin: 1rem auto;
      font-size: 1rem;
     
  
      &:focus{
        outline: none;
        border-color: rgb(65, 157, 102);
      }
    }
    .screen{
      
      .country{
        margin: 1rem 0;
        display: flex;
        align-items: center;

        button{
          margin-left: .5rem;
          border: none;
          cursor: pointer;
          box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.4);
          padding: .2rem;

          &:active , &:focus{
            outline: none;
          }
        }
      }

      .one-country-result{
        transition: display 3s ease-in-out;

        img{
          width: 50%;
          height: 50%;
        }
      }
    }
    
  }
      .display{
        padding: 1rem .8rem .5rem;
      }

}
